
<mat-toolbar color="primary"> 
    <mat-toolbar-row>
            <span class="title-center">
        My Destination App
    </span>
      </mat-toolbar-row>
    
      <mat-toolbar-row>

  <button mat-button [routerLink]="['/create']" color="Warn">Upcoming Destinations</button>
  <button mat-button [routerLink]="['/review']">Cities Visited</button>
  <button mat-button [routerLink]="['/review']">Reviews</button>
  <button mat-button [routerLink]="['/review']">Photo Gallery</button>
</mat-toolbar-row>
 </mat-toolbar>

<router-outlet></router-outlet>