<!-- <ul>
  <li *ngFor="let p of posts">
      
     <p>{{p.title}}</p>
     <p>{{p.content}}</p>
     <p><button>Edit</button><button>Delete</button></p>
</ul>  -->

<mat-toolbar color="warn">Upcoming Destinations List</mat-toolbar>
<mat-accordion multi="true" *ngIf="upcoming.length > 0">
  <mat-expansion-panel [expanded]="true" *ngFor="let upcoming of upcomings">
    <mat-expansion-panel-header>
      {{ upcoming.country }}
    </mat-expansion-panel-header>
    <p>{{ upcoming.city }}</p>
    <p>{{ upcoming.year }}</p>
    <mat-action-row>
      <button mat-button [routerLink]="['/edit', upcomings._id]" color="primary">EDIT</button>
      <button mat-button color="warn" (click) = "onDelete(post._id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No upcoming trips planned yet!</p> 